*{box-sizing: border-box;} 
/* The box-sizing property allows us to include the padding and border in an element's total width and height. https://w3schools.org */

body{
  background-color:#9497A7;
  padding: 100px;
  margin:0 auto;
  align-content: center;
  /* align-items: center; */
}

.App {
  border: 2px solid #9497A7;
  /* border: 5px solid blue; */
  border-radius: 15px;
  padding: 0px;
  margin: 0 auto;
  align-content: center;
}

.App > div{
  /* border: 2px solid #ffa94d;
  border-radius: 2px; */
  padding: 1em; 
}

.App{
  display: grid;
  grid-template-columns: 400px 390px 200px;
  grid-template-rows: 120px 370px 100px ;
  height: 670px;
  width:1000px;
  grid-gap:0px;
  grid-template-areas: 
  "a b b"
  "a b b "
  "a c c"
  ;
  /* align-content: center;  */
  /* justify-items: center;  */
}
.div1 {
  grid-area: a;
  background-color: #545871;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 
}
.div2 {
  grid-area: b;
  background-color: #E9D8DA;
  border-top-right-radius: 10px;
}
.div3 {
  grid-area: c;
  background-color: white;
  border-bottom-right-radius: 10px;
}
#backbutton{
  /* text-align: left; */
  margin-left: 80px;
  margin-top: 20px;
  color: darkgrey;
  height: 40px;
  width: 100px;
  border-radius: 20px;

}
#nextbutton{
  /* text-align: right; */
  margin-left: 200px;
  color: darkgrey;
  height: 40px;
  width: 100px;
  border-radius: 20px;
}

.switch{
  margin-top: 10px;
  padding: 5px;
  width: 60px;
  height: 30px;
  position: relative;
  display: inline-block;
  background-color:#eee;
  border-radius:20px;
}

.switch::after{

  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: grey;
  border-radius: 50%;
  top: 1px;
  left: 2px;
  transition: all 0.4s;
}
.checkbox:checked + .switch::after {
  left : 20px; 
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.photo{
  margin: 450 px;
}
.checkbox { 
  display : none;
}
/* Reference: https://www.w3schools.com/css/css3_box-sizing.asp */
/* https://codepen.io/pen/?&editable=true */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout */
/*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid-template-rows*/
/* https://medium.com/front-end-weekly/creating-a-toggle-switch-in-css-2d23e496d035 */